{% if dataset %}
    <h3>{{ label }}</h3>
    <ul class="browse-detail-relateddatalist">
        {% for item in dataset %}

            <a href="{% url itemurl item.id %}">
                <li class="browse-detail-relateddatalist-item">
                    <div class="browse-detail-relateddatalist-item-title">
                        {{ item.dynamic_title | striptags }}
                    </div>
                    <div class="browse-detail-relateddatalist-item-details">
                        {{ item.dynamic_subtitle | striptags }}
                    </div>
                </li>
            </a>
            
        {% endfor %}
    </ul>
{% endif %}