<!-- Reference -->
{% include "researchdata/snippets/detail-relateddatalist.html" with dataset=object.reference.all label='References' itemurl='browse-references-detail' %}

<!-- Linguistic Notion -->
{% include "researchdata/snippets/detail-relateddatalist.html" with dataset=object.linguistic_notion.all label='Linguistic Notions' itemurl='browse-linguisticnotions-detail' %}

<!-- Text -->
{% include "researchdata/snippets/detail-relateddatalist.html" with dataset=object.text.all label='Texts' itemurl='browse-texts-detail' %}

<!-- Author -->
{% include "researchdata/snippets/detail-relateddatalist.html" with dataset=object.author.all label='Authors' itemurl='browse-authors-detail' %}

<!-- Sanskrit Word -->
{% include "researchdata/snippets/detail-relateddatalist.html" with dataset=object.sanskrit_word.all label='Sanskrit Words' itemurl='browse-sanskritwords-detail' %}

<!-- Text Passage -->
{% include "researchdata/snippets/detail-relateddatalist.html" with dataset=object.text_passage.all label='Text Passages' itemurl='browse-textpassages-detail' %}

<!-- Linguistic Tradition -->
{% include "researchdata/snippets/detail-relateddatalist.html" with dataset=object.linguistic_tradition.all label='Linguistic Traditions' itemurl='browse-linguistictraditions-detail' %}

<!-- Linguistic Field -->
{% include "researchdata/snippets/detail-relateddatalist.html" with dataset=object.linguistic_field.all label='Linguistic Fields' itemurl='browse-linguisticfields-detail' %}

