<!-- Author -->
{% if "author," in models %}
    <option value="name">Name</option>
    <option value="alternative_name">Alternative Name</option>
    <option value="description">Description</option>
    <option value="location_most_active">Location Most Active</option>
    <option value="date_active">Date Active</option>
{% endif %}

<!-- Linguistic Field -->
{% if "linguisticfield," in models %}
    <option value="name">Name</option>
    <option value="description">Description</option>
{% endif %}

<!-- Linguistic Notion -->
{% if "linguisticnotion," in models %}
    <option value="name">Name</option>
    <option value="description">Description</option>
{% endif %}

<!-- Linguistic Tradition -->
{% if "linguistictradition," in models %}
    <option value="name">Name</option>
    <option value="description">Description</option>
{% endif %}

<!-- Reference -->
{% if "reference," in models %}
    <option value="title">Title</option>
    <option value="subtitle">Subtitle</option>
    <option value="authors_list">Authors</option>
    <option value="editors">Editors</option>
    <option value="school">School</option>
    <option value="book_title">Book Title</option>
    <option value="journal_title">Journal Title</option>
    <option value="volume">Volume</option>
    <option value="number">Number</option>
    <option value="location">Location</option>
    <option value="year">Year</option>
    <option value="page_start">Page (Start)</option>
    <option value="page_end">Page (End)</option>
    <option value="url">URL</option>
    <option value="public_notes">Notes</option>
    <option value="last_accessed_date">Last Accessed Date</option>
{% endif %}

<!-- Sanskrit Word -->
{% if "sanskritword," in models %}
    <option value="name">Name</option>
    <option value="description">Description</option>
{% endif %}

<!-- Text -->
{% if "text," in models %}
    <option value="name">Name</option>
    <option value="alternative_name">Alternative Name</option>
    <option value="description">Description</option>
    <option value="approximate_date_of_creation">Approximate date of creation</option>
    <option value="location">Location</option>
    <option value="author_main">Author</option>
{% endif %}

<!-- Text Passage -->
{% if "textpassage," in models %}
    <option value="name">Name</option>
    <option value="description">Description</option>
{% endif %}
