<!-- Author -->
{% if exclude != "author" %}
    {% include "researchdata/snippets/list-options-advanced-filter.html" with dataset=authors label='Author' id='author' %}
{% endif %}

<!-- Linguistic Field -->
{% if exclude != "linguisticfield" %}
    {% include "researchdata/snippets/list-options-advanced-filter.html" with dataset=linguisticfields label='Linguistic Field' id='linguisticfield' %}
{% endif %}

<!-- Linguistic Notion -->
{% if exclude != "linguisticnotion" %}
    {% include "researchdata/snippets/list-options-advanced-filter.html" with dataset=linguisticnotions label='Linguistic Notion' id='linguisticnotion' %}
{% endif %}

<!-- Linguistic Tradition -->
{% if exclude != "linguistictradition" %}
    {% include "researchdata/snippets/list-options-advanced-filter.html" with dataset=linguistictraditions label='Linguistic Tradition' id='linguistictradition' %}
{% endif %}

<!-- Reference -->
{% if exclude != "reference" %}
    {% include "researchdata/snippets/list-options-advanced-filter.html" with dataset=references label='Reference' id='reference' %}
{% endif %}

<!-- Sanskrit Word -->
{% if exclude != "sanskritword" %}
    {% include "researchdata/snippets/list-options-advanced-filter.html" with dataset=sanskritwords label='Sanskrit Word' id='sanskritword' %}
{% endif %}

<!-- Text -->
{% if exclude != "text" %}
    {% include "researchdata/snippets/list-options-advanced-filter.html" with dataset=texts label='Text' id='text' %}
{% endif %}
