<option value="title">Title</option>
<option value="subtitle">Subtitle</option>
<option value="editors">Editors</option>
<option value="school">School</option>
<option value="edition">Edition</option>
<option value="book_title">Book Title</option>
<option value="journal_title">Journal Title</option>
<option value="volume">Volume</option>
<option value="number">Number</option>
<option value="location">Location</option>
<option value="year">Year</option>
<option value="page_start">Page (Start)</option>
<option value="page_end">Page (End)</option>
<option value="url">URL</option>
<option value="last_accessed_date">Last Accessed Date</option>