{% extends "researchdata/browse-list-base.html" %}
{% load static %}

<!-- Title -->
{% block list_title %}Linguistic Notions{% endblock %}

<!-- Link to detail -->
{% block list_item_link %}{% url 'browse-linguisticnotions-detail' object.id %}{% endblock %}

{% block list_options_advanced_searchby %}
    <!-- Search By -->
    <option value="name">Name</option>
    <option value="description">Description</option>
    <option value="example">Example</option>
{% endblock %}

<!-- Order By -->
{% block list_options_advanced_order_by %}
    <option value="name">Name</option>
    <option value="description">Description</option>
    <option value="example">Example</option>
{% endblock %}

<!-- Filters -->
{% block list_options_advanced_filters %}

    <!-- Author -->
    <label for="list-options-advanced-content-filter-author">Author</label>
    <select id="list-options-advanced-content-filter-author" name="advanced_filter_author">
        {% include 'researchdata/snippets/select-default.html' %}
        {% for author in authors %}
            <option value="{{ author.id }}">{{ author }}</option>
        {% endfor %}
    </select>

    <!-- Linguistic Field -->
    <label for="list-options-advanced-content-filter-linguisticfield">Linguistic Field</label>
    <select id="list-options-advanced-content-filter-linguisticfield" name="advanced_filter_linguisticfield">
        {% include 'researchdata/snippets/select-default.html' %}
        {% for linguisticfield in linguisticfields %}
            <option value="{{ linguisticfield.id }}">{{ linguisticfield }}</option>
        {% endfor %}
    </select>

    <!-- Reference -->
    <label for="list-options-advanced-content-filter-reference">Reference</label>
    <select id="list-options-advanced-content-filter-reference" name="advanced_filter_reference">
        {% include 'researchdata/snippets/select-default.html' %}
        {% for reference in references %}
            <option value="{{ reference.id }}">{{ reference }}</option>
        {% endfor %}
    </select>

    <!-- Text -->
    <label for="list-options-advanced-content-filter-text">Text</label>
    <select id="list-options-advanced-content-filter-text" name="advanced_filter_text">
        {% include 'researchdata/snippets/select-default.html' %}
        {% for text in texts %}
            <option value="{{ text.id }}">{{ text }}</option>
        {% endfor %}
    </select>

{% endblock %}
