{% extends "base.html" %}
{% load static %}

{% block main %}
    <div class="container" id="browse-detail">
        
        <!-- Header (e.g. title and details) -->
        {% include "researchdata/snippets/detail-header.html" %}

        <!-- Data items -->
        <h3>Details</h3>
        {% include "researchdata/snippets/detail-dataitem.html" with dataitem=object.name label='Name' %}
        {% include "researchdata/snippets/detail-dataitem.html" with dataitem=object.description label='Description' %}

        <!-- Many to Many relationships -->
        {% include "researchdata/snippets/detail-manytomanyitem-author.html" %}
        {% include "researchdata/snippets/detail-manytomanyitem-linguisticnotion.html" %}
        {% include "researchdata/snippets/detail-manytomanyitem-linguistictradition.html" %}
        {% include "researchdata/snippets/detail-manytomanyitem-reference.html" %}
        {% include "researchdata/snippets/detail-manytomanyitem-sanskritword.html" %}
        {% include "researchdata/snippets/detail-manytomanyitem-text.html" %}
        {% include "researchdata/snippets/detail-manytomanyitem-textpassage.html" %}

    </div>
{% endblock %}