{% extends "base.html" %}
{% load static %}

{% block main %}
    <div class="container" id="browse-detail">

        <!-- Links -->
        {% url 'browse-linguisticfields-list' as list_url %}
        {% url 'admin:researchdata_linguisticfield_change' object.id as dashboard_url %}
        {% include "researchdata/snippets/detail-links.html" with list_url=list_url list_name='linguistic fields' dashboard_url=dashboard_url %}

        <!-- Header (e.g. title and description) -->
        {% include "researchdata/snippets/detail-header.html" %}

        <!-- Data items -->
        <!-- None -->

        <!-- Many to One relationships -->
        <!-- None -->

        <!-- One to Many relationships -->
        <!-- None -->

        <!-- Many to Many relationships -->
        {% include "researchdata/snippets/detail-relateddatalist-mainmodels.html" with exclude='linguisticfield,' %}

        <!-- Footer (e.g. for meta data) -->
        {% include "researchdata/snippets/detail-footer.html" %}

    </div>
{% endblock %}