{% extends "researchdata/browse-list-base.html" %}
{% load static %}

<!-- Title -->
{% block list_title %}Sanskrit Words{% endblock %}

<!-- Link to detail -->
{% block list_item_link %}{% url 'browse-sanskritwords-detail' object.id %}{% endblock %}

<!-- Search By -->
{% block list_options_advanced_searchby %}
    {% include "researchdata/snippets/list-options-advanced-fields-sanskritword.html" %}
{% endblock %}

<!-- Order By -->
{% block list_options_advanced_orderby %}
    {% include "researchdata/snippets/list-options-advanced-fields-sanskritword.html" %}
{% endblock %}

<!-- Filters -->
{% block list_options_advanced_filters %}

    <!-- Main models -->
    {% include "researchdata/snippets/list-options-advanced-filter-mainmodels.html" with exclude='sanskritword' %}
    
{% endblock %}
