{% extends "base.html" %}
{% load static %}

{% block main %}
    <div class="container" id="browse-detail">

        <!-- Links -->
        {% url 'browse-textpassages-list' as list_url %}
        {% url 'admin:researchdata_textpassage_change' object.id as dashboard_url %}
        {% include "researchdata/snippets/detail-links.html" with list_url=list_url list_name='text passages' dashboard_url=dashboard_url %}

        <!-- Header (e.g. title and description) -->
        {% include "researchdata/snippets/detail-header.html" %}

        <!-- Data items -->
        <!-- None -->

        <!-- Many to One relationships -->
        {% include "researchdata/snippets/detail-relateddatalist.html" with dataobject=object.text label='Text' itemurl='browse-texts-detail' %}
        {% include "researchdata/snippets/detail-relateddatalist.html" with dataobject=object.text_type label='Text Type' itemurl='browse-textpassages-list' itemurlparameter='advanced_filter_sltexttype' %}

        <!-- One to Many relationships -->
        <!-- None -->

        <!-- Many to Many relationships -->
        {% include "researchdata/snippets/detail-relateddatalist-mainmodels.html" with exclude='text,textpassage,' %}

        <!-- Footer (e.g. for meta data) -->
        {% include "researchdata/snippets/detail-footer.html" %}

    </div>
{% endblock %}