{% extends "researchdata/browse-list-base.html" %}
{% load static %}

<!-- Title -->
{% block list_title %}Texts{% endblock %}

<!-- Link to detail -->
{% block list_item_link %}{% url 'browse-texts-detail' object.id %}{% endblock %}

<!-- Search By -->
{% block list_options_advanced_searchby %}
    {% include "researchdata/snippets/list-options-advanced-fields-text.html" %}
{% endblock %}

<!-- Order By -->
{% block list_options_advanced_orderby %}
    {% include "researchdata/snippets/list-options-advanced-fields-text.html" %}
{% endblock %}

<!-- Filters -->
{% block list_options_advanced_filters %}

    <!-- SlTextGroup -->
    {% include "researchdata/snippets/list-options-advanced-filter.html" with dataset=sltextgroups label='Text Group' id='sltextgroup' %}

    <!-- SlTextType -->
    {% include "researchdata/snippets/list-options-advanced-filter.html" with dataset=sltexttypes label='Text Type' id='sltexttype' %}

    <!-- Main models -->
    {% include "researchdata/snippets/list-options-advanced-filter-mainmodels.html" with exclude='text' %}

{% endblock %}
