{% extends "base.html" %}
{% load static %}

{% block main %}
    <div class="container" id="browse-detail">

        <!-- Links -->
        {% url 'browse-references-list' as list_url %}
        {% url 'admin:researchdata_reference_change' object.id as dashboard_url %}
        {% include "researchdata/snippets/detail-links.html" with list_url=list_url list_name='references' dashboard_url=dashboard_url %}

        <!-- Header (e.g. title and description) -->
        {% include "researchdata/snippets/detail-header.html" %}

        <!-- Data items -->
        {% include "researchdata/snippets/detail-dataitem.html" with dataitem=object.public_notes label='Notes' %}

        <!-- Many to One relationships -->
        <!-- There are 2 (publisher and relationship type) but John wants them hidden -->

        <!-- One to Many relationships -->
        <!-- None -->

        <!-- Many to Many relationships -->
        {% include "researchdata/snippets/detail-relateddatalist-mainmodels.html" with exclude='reference,' %}

        <!-- Reference has no footer, at John's request (e.g. didn't want citation) -->

    </div>
{% endblock %}