{% extends "base.html" %}
{% load static %}

{% block main %}
    <div class="container" id="browse-detail">

        <a class="browse-detail-linktolist" href="{% url 'browse-references-list' %}">&lt; All references</a>
        
        <!-- Header (e.g. title and details) -->
        {% include "researchdata/snippets/detail-header.html" %}

        <!-- Many to One relationships -->
        <!-- There are 2 (publisher and relationship type) but John wants them hidden -->

        <!-- One to Many relationships -->
        <!-- None -->

        <!-- Many to Many relationships -->
        {% include "researchdata/snippets/detail-relateddatalist-mainmodels.html" with exclude='reference,' %}

        <!-- Footer (e.g. for meta data) -->
        {% include "researchdata/snippets/detail-footer.html" %}

    </div>
{% endblock %}