{% extends "base.html" %}
{% load static %}

{% block main %}
    <div class="container" id="browse-detail">
        
        <!-- Header (e.g. title and details) -->
        {% include "researchdata/snippets/detail-header.html" %}

        <!-- Data items -->
        <h3>Details</h3>
        {% include "researchdata/snippets/detail-dataitem.html" with dataitem=object.name label='Name' %}
        {% include "researchdata/snippets/detail-dataitem.html" with dataitem=object.description label='Description' %}

        <!-- Many to One relationships -->
        <!-- None -->

        <!-- One to Many relationships -->
        <!-- None -->

        <!-- Many to Many relationships -->
        {% include "researchdata/snippets/detail-relateddatalist-mainmodels.html" with exclude='none' %}

    </div>
{% endblock %}