{% extends "base.html" %}
{% load static %}

{% block main %}
    <div class="container" id="browse-detail">

        <!-- Links -->
        {% url 'browse-authors-list' as list_url %}
        {% url 'admin:researchdata_author_change' object.id as dashboard_url %}
        {% include "researchdata/snippets/detail-links.html" with list_url=list_url list_name='authors' dashboard_url=dashboard_url %}

        <!-- Header (e.g. title and description) -->
        {% include "researchdata/snippets/detail-header.html" %}

        <!-- Data items -->
        {% include "researchdata/snippets/detail-dataitem.html" with dataitem=object.name label='Name' %}
        {% include "researchdata/snippets/detail-dataitem.html" with dataitem=object.alternative_name label='Alternative Name' %}
        {% include "researchdata/snippets/detail-dataitem.html" with dataitem=object.location_most_active label='Location' %}
        {% include "researchdata/snippets/detail-dataitem.html" with dataitem=object.date_active label='Date Active' %}

        <!-- Many to One relationships -->
        <!-- None -->

        <!-- One to Many relationships -->
        <!-- None -->

        <!-- Many to Many relationships -->
        {% include "researchdata/snippets/detail-relateddatalist-mainmodels.html" with exclude='none' %}

        <!-- Footer (e.g. for meta data) -->
        {% include "researchdata/snippets/detail-footer.html" %}

    </div>
{% endblock %}