{% extends "base.html" %}
{% load static %}

{% block main %}
    <div class="container" id="browse-detail">

        <a class="browse-detail-linktolist" href="{% url 'browse-texts-list' %}">&lt; All texts</a>
        
        <!-- Header (e.g. title and description) -->
        {% include "researchdata/snippets/detail-header.html" %}

        <!-- Data items -->
        {% include "researchdata/snippets/detail-dataitem.html" with dataitem=object.approximate_date_of_creation label='Approximate Date of Creation' %}

        <!-- Many to One relationships -->
        {% include "researchdata/snippets/detail-relateddatalist.html" with dataobject=object.text_group label='Text Group' itemurl='browse-texts-list' itemurlparameter='advanced_filter_sltextgroup' %}
        {% include "researchdata/snippets/detail-relateddatalist.html" with dataobject=object.text_type label='Text Type' itemurl='browse-texts-list' itemurlparameter='advanced_filter_sltexttype' %}

        <!-- One to Many relationships -->
        {% include "researchdata/snippets/detail-relateddatalist.html" with dataset=object.textpassage_set.all label='Text Passages' itemurl='browse-textpassages-detail' %}

        <!-- Many to Many relationships -->
        {% include "researchdata/snippets/detail-relateddatalist-mainmodels.html" with exclude='text,textpassage,' %}

        <!-- Footer (e.g. for meta data) -->
        {% include "researchdata/snippets/detail-footer.html" %}

    </div>
{% endblock %}