{% extends "base.html" %}
{% load static %}

{% block main %}

    <div id="about-banner-outputs" class="about-banner"></div>

    <div class="container">
        <h2>Research Outputs</h2>

        <h3>Presentations</h3>
        <p>
            'Kauṇḍabhaṭṭa and Nāgeśa on Negation', John Lowe, Jim Benson, and Yiming Shen, presented at the 232nd Meeting of the American Oriental Society, 21 March 2022, Boston. <a href="{% static 'documents/LoweBensonShen-AOS22-Negationhandout.pdf' %}">View handout.</a>
        </p>
        <p>
            'An Annotated English Translation of the Samanvayadiś', Yiming Shen, presented at the 232nd Meeting of the American Oriental Society, 21 March 2022, Boston.
        </p>

        <!-- <h3>Publications</h3>
        <p>
            Coming soon
        </p> -->
    </div>

{% endblock %}