{% extends "base.html" %}
{% load static %}

{% block main %}

    <div id="about-banner-team" class="about-banner"></div>

    <div class="container">

        <h2>Dr John Lowe, Principal Investigator</h2>
        <img class="image-circle" src="{% static 'images/about/team/john-lowe.jpg' %}" alt="Dr John Lowe, Principal Investigator">
        <p>
            John is responsible for directing the project's research programme, and leading the project's research into the relations between ancient Indian and modern Western linguistic thought.
        </p>
        <p>
            John is Associate Professor of Sanskrit at the University of Oxford, and has worked and published widely on topics in theoretical linguistics and Sanskrit language and linguistics.
        </p>
        <p>
            For more information, please visit <a href="http://users.ox.ac.uk/~shug1472/" target="_blank">John's profile</a>
        </p>

        <h2>Dr Yiming Shen, Post-doctoral Researcher</h2>
        <img class="image-circle" src="{% static 'images/about/team/yiming-shen.jpg' %}" alt="Yiming Shen, (role)">
        <p>
            Yiming Shen is responsible for carrying out research on ancient Indian linguistic thought and its connections with modern linguistics.
        </p>
        <p>
            He completed his doctorate at the University of Oxford with a thesis on the Sanskrit grammatical tradition (vyākaraṇa), in particular about the element called āgama in Pāṇini's grammatical system.
        </p>

        <h2>Dr Diana Rodríguez Pérez, Project Support Coordinator</h2>
        <img class="image-circle" src="{% static 'images/about/team/diana-rodriguez-perez.jpg' %}" alt="Dr Diana Rodríguez Pérez, (role)">
        <p>
            Diana is part of the Research Facilitation team at the Humanities Division and provides administrative, HR, and finance support to the LINGUINDIC team.
        </p>
        <p>
            Diana has a European Doctorate in History of Arts (Classical Archaeology) and has worked in various academic and administrative roles in the past, including at the Faculty of Classics, Wolfson College, and the Faculty of Oriental Studies. Besides her job with LINGUINDIC, Diana is also the Research Assistant for the Beazley Archive Pottery Database at the Faculty of Classics (University of Oxford)
        </p>
        <p>
            For more information, please visit <a href="https://www.classics.ox.ac.uk/people/dr-diana-rodriguez-perez#tab-279511" target="_blank">Diana's profile</a>
        </p>

        <h2>Mike Allaway, Website &amp; Database Developer</h2>
        <img class="image-circle" src="{% static 'images/about/team/mike-allaway.jpg' %}" alt="Mike Allaway, Website and Database Developer">
        <p>
            Mike is responsible for developing and maintaining the LINGUINDIC website and database, as well as providing general IT support to the project team.
        </p>
        <p>
            Mike has a bachelor's degree in business management with information systems, as well as a master's degree in computing. As well as being a member of the LINGUINDIC team, Mike also works as a Senior Research Software Engineer at the University of Birmingham. He has over 8 years' experience of working in IT within the HE sector.
        </p>
        <p>
            For more information, please visit <a href="https://www.orinst.ox.ac.uk/people/michael-allaway" target="_blank">Mike's profile</a>
        </p>

        <h2>Dr James Benson, Consultant</h2>
        <img class="image-circle" src="{% static 'images/about/team/james-benson.jpg' %}" alt="James Benson (role)">
        <p>
            (TODO: Brief bio)
        </p>

    </div>

{% endblock %}