{% extends "base.html" %}
{% load static %}

{% block main %}

    <div id="about-banner-outputs" class="about-banner"></div>

    <div class="container">
        <h2>Research Outputs</h2>

        <h3>Presentations</h3>
        <p>
            'An Annotated English Translation of the Samanvayadiś', Yiming Shen, presented at the 232nd Meeting of the American Oriental Society, 21 March 2022, Boston.
        </p>
        <p>
            'Kauṇḍabhaṭṭa on samāsaśakti', James Benson, John Lowe, Adriana Molina-Muñoz, Yiming Shen, presented at the 233rd American Oriental Society Annual Meeting, 1-13 March 2023, Los Angeles, California. <a href="{% static 'documents/AOS_Kaundabhatta_on_samasasakti.pdf' %}">View handout</a>.
        </p>
        <p>
            'An Edition and Preliminary Study of the Anvayakalikā', Yiming Shen, presented at the 233rd American Oriental Society Annual Meeting, 1-13 March 2023, Los Angeles, California. <a href="{% static 'documents/AOS_An_Edition_and_Preliminary_Study_of_the_Anvayakalika.pdf' %}">View handout</a>.
        </p>
        <p>
            'Later vyākaraṇa theories of negation', John Lowe and James Benson, presented at the 18th World Sanskrit Conference, 9-12 January 2023, online.
        </p>
        <p>
            'The 'Kātantra Paspaśā': an annotated English translation of the opening passage of the Durgasiṃhaṭīkā', Yiming Shen, presented at the 18th World Sanskrit Conference, 9-12 January 2023, online.
        </p>
        <p>
            'Reduplicated Relative Pronouns and Domain Widening in Sanskrit', Adriana Molina-Muñoz, presented at the 36th South Asian Linguistic Analysis Roundtable (SALA36), 26-29 November 2022, Kathmandu, Nepal. <a href="{% static 'documents/SALA_Reduplicated_Relative_Pronouns_and_Domain_Widening_in_Sanskrit.pdf' %}">View handout</a>.
        </p>
        <p>
            'The theory of negation in the later Vaiyākaraṇa tradition', John Lowe and James Benson, presented at the workshop “Understudied texts and authors from the Indian Linguistic tradition”, 27 June 2022, Wolfson College, Oxford.
        </p>
        <p>
            'Kṛtya suffix teachings in the Samanvayadiś, the Aṣṭādhyāyī, and the Kātantrasūtra', Yiming Shen, presented at the workshop “Understudied texts and authors from the Indian Linguistic tradition”, 27 June 2022, Wolfson College, Oxford.
        </p>
        <p>
            'A Grammatical kroḍapatra in the Bodleian Library', James Benson, presented at the workshop “Understudied texts and authors from the Indian Linguistic tradition”, 27 June 2022, Wolfson College, Oxford
        </p>
        <p>
            'Kauṇḍabhaṭṭa and Nāgeśa on Negation', John Lowe, Jim Benson, and Yiming Shen, presented at the 232nd Meeting of the American Oriental Society, 21 March 2022, Boston. <a href="{% static 'documents/LoweBensonShen-AOS22-Negationhandout.pdf' %}">View handout</a>.
        </p>

        <!-- <h3>Publications</h3>
        <p>
            Coming soon
        </p> -->
    </div>

{% endblock %}