{% extends "base.html" %}
{% load static %}

{% block main %}

    <div id="about-banner-funding" class="about-banner"></div>

    <div class="container">
        <h2>Funding</h2>
        <p>
            The LINGUINDIC project has been awarded €1,499,440 of funding from the <a href="https://erc.europa.eu/">European Research Council (ERC)</a> under the European Union’s Horizon 2020 research and innovation programme.
        </p>
        <p>
            You can find out more about this <a href="https://cordis.europa.eu/project/id/851990">on the funder's website.</a>
        </p>
    </div>

{% endblock %}