{% extends "base.html" %}
{% load static %}

{% block main %}

    <div id="about-banner-events" class="about-banner"></div>

    <div class="container">
        <h2>Events</h2>
        <h3>Workshop</h3>
        <p>
            We are planning to organize a two-day workshop on 'Understudied texts and authors from the Indian linguistic tradition', to take place in Oxford in summer 2022. Further details will be made available in due course.
        </p>
        <h3>AOS 2022</h3>
        <p>
            We presented two papers at the <a href="https://www.americanorientalsociety.org/annual-meeting/.">232nd Meeting of the American Oriental Society</a>, 21 March 2022, Boston. See <a href="{% url 'about-outputs' %}">'Research Outputs'</a>.
        </p>
    </div>
    
{% endblock %}