{% extends "base.html" %}
{% load static %}

{% block main %}

    <div id="about-banner-team" class="about-banner"></div>

    <div class="container">

        <h2>Dr John Lowe, Principal Investigator</h2>
        <img class="image-circle" src="{% static 'images/about/team/john-lowe.jpg' %}" alt="Dr John Lowe, Principal Investigator">
        <p>
            (TODO: Brief bio)
        </p>

        <h2>Dr James Benson, (role)</h2>
        <img class="image-circle" src="{% static 'images/about/team/james-benson.jpg' %}" alt="James Benson (role)">
        <p>
            (TODO: Brief bio)
        </p>

        <h2>Yiming Shen, (role)</h2>
        <img class="image-circle" src="{% static 'images/about/team/yiming-shen.jpg' %}" alt="Yiming Shen, (role)">
        <p>
            (TODO: Brief bio)
        </p>

        <h2>Dr Diana Rodríguez Pérez, (role)</h2>
        <img class="image-circle" src="{% static 'images/about/team/diana-rodriguez-perez.jpg' %}" alt="Dr Diana Rodríguez Pérez, (role)">
        <p>
            (TODO: Brief bio)
        </p>

        <h2>Mike Allaway, Website &amp; Database Developer</h2>
        <img class="image-circle" src="{% static 'images/about/team/mike-allaway.jpg' %}" alt="Mike Allaway, Website and Database Developer">
        <p>
            Mike is responsible for developing and maintaining the LINGUINDIC website and database, as well as providing general IT support to the project team.
        </p>
        <p>
            Mike has a bachelor's degree in business management with information systems, as well as a master's degree in computing. As well as being a member of the LINGUINDIC team, Mike also works as a Senior Research Software Engineer at the University of Birmingham. He has over 8 years' experience of working in IT within the HE sector.
        </p>

    </div>

{% endblock %}