{% extends "base.html" %}
{% load static %}

{% block main %}

    <div id="about-banner-database" class="about-banner"></div>

    <div class="container">
        <h2>The LINGUINDIC Database</h2>
        <p>
            The primary aim of our database is to present ancient Indian linguistic thought in the context of modern Western linguistic categories and approaches, and thereby to draw connections between the two. The core of our database consists of a series of entries on different linguistic notions.
        </p>
        <p>
            <a id="about-database-link" href="{% url 'browse-linguisticnotions-list' %}">View the LINGUINDIC database</a>
        </p>
        <p>
            Each linguistic notion addresses a specific object of study within modern Western linguistics, describing the corresponding ancient Indian notions and drawing connections between the two intellectual traditions. We want this database to be a valuable resource for linguists who want to access the intricacies of the Indian grammatical tradition, as well as to Sanskrit enthusiasts who wonder about the connections with modern Western notions or want to deepen into the Indian thought. 
        </p>
        <p>
            We also refer to many ancient Indian <a href="{% url 'browse-authors-list' %}">authors</a>, <a href="{% url 'browse-texts-list' %}">texts</a>, <a href="{% url 'browse-linguistictraditions-list' %}">traditions of thought</a>, and <a href="{% url 'browse-sanskritwords-list' %}">Sanskrit words</a>. These are referenced and linked at the end of each entry, and also each have their own entries, providing further relevant information. These categories can also be searched and browsed separately. You can also consume the data via our open <a href="{% url 'api' %}">web API</a>, as well as interacting with our database visually via our website.
        </p>
        <p>
            The database is a work in progress; we aim to add new material frequently over the lifetime of the project, so please check back regularly for updates.
        </p>
        <p>
            If you have any questions or comments about the LINGUINDIC database then please email us at <a href="mailto:linguindic@ames.ox.ac.uk">linguindic@ames.ox.ac.uk</a>.
        </p>
    </div>

{% endblock %}