{% extends "base.html" %}
{% load static %}

{% block main %}

    <div id="about-banner-project" class="about-banner"></div>

    <div class="container">
        <h2>Project</h2>
        <p>
            The LINGUINDIC project aims to synthesize expertise and insights from the fields of ancient Indian and modern Western linguistics, to enable deeper understanding and innovation in linguistic theory.
        </p>
        <p>
            An extensive and highly sophisticated linguistic tradition flourished in ancient India between c. 500 BC and 1700 AD. Panini’s grammar the Astadhyayi is often recognized by generative linguists as the earliest generative grammar ever developed, more than 2000 years before Chomsky. Yet beyond this recognition, modern Western linguistics has very little knowledge of the millennia of linguistic insights and analyses developed in India. In the context of the academic enterprise - building on the achievements of our predecessors to advance human knowledge and understanding - this ignorance is a hindrance to the progress of linguistic science. The aims of this project are:
        </p>
        <ol>
            <li>To systematically explore and analyse the neglected riches of ancient Indian linguistic thought;</li>
            <li>To uncover lost linguistic insights and analyses;</li>
            <li>To build on these insights to create innovative approaches to contemporary issues in modern Western linguistics.</li>
        </ol>
        <p>
            The project will focus on ancient Indian contributions to linguistic thought in three broad areas: morphosyntax and formal language systems, semantics/pragmatics and the philosophy of language, and phonetics/phonology. In all three fields ancient Indian analyses provide new perspectives which challenge standard assumptions of modern Western linguistics.
        </p>
        <p>
            This project will bring together expertise in modern linguistics and the ancient Indian linguistic tradition, enabling innovative interactions between traditions. This project is challenging, but the potential rewards for modern linguistics are significant. This project aims to be paradigm changing, redefining modern linguistics as a field which can and does draw and build on three thousand years of academic insights, rather than drawing merely on two hundred years of linguistic work in the West.
        </p>
    </div>

{% endblock %}