{% extends "base.html" %}
{% load static %}

{% block main %}

    <div id="about-banner-events" class="about-banner"></div>

    <div class="container">

        <h2>Events</h2>

        <h3>
            The LINGUINDIC Project presents:<br>
            'Understudied texts and authors from the Indian linguistic tradition'
        </h3>
        <p>
            A two-day workshop at Wolfson College, Oxford
        </p>
        <p>
            27<sup>th</sup> - 28<sup>th</sup> June 2022
        </p>
        <ul>
            <li>Émilie Aussant, Paris</li>
            <li>Jim Benson, Oxford</li>
            <li>Radha Blinderman, Harvard</li>
            <li>Maria Piera Candotti, Pisa</li>
            <li>Giovanni Ciotti, Hamburg</li>
            <li>Victor D'Avella, Oxford</li>
            <li>Sibylle Koch, Oxford</li>
            <li>John Lowe, Oxford</li>
            <li>Yiming Shen, Oxford</li>
            <li>Małgorzata Wielińska-Soltwedel, PAS</li>
        </ul>
        <p>
            For more information about this workshop, please <a href="{% static 'documents/workshop_2022-06-27.pdf' %}" target="_blank">download the workshop programme</a>.
        </p>
        <p>
            Places are limited. Please register your interest via email at <a href="mailto:linguindic@orinst.ox.ac.uk?subject=LINGUINDIC Workshop registration&body=I'd like to register my interest for the LINGUINDIC workshop on 27th-28th June 2022.">linguindic@orinst.ox.ac.uk</a> by June 10<sup>th</sup>.
        </p>

        <h3>AOS 2022</h3>
        <p>
            We presented two papers at the <a href="https://www.americanorientalsociety.org/annual-meeting/">232<sup>nd</sup> Meeting of the American Oriental Society</a>, 21<sup>st</sup> March 2022, Boston. See <a href="{% url 'about-outputs' %}">'Research Outputs'</a>.
        </p>

    </div>

{% endblock %}