{% extends "base.html" %}
{% load static %}

{% block main %}

    <div id="about-banner-events" class="about-banner"></div>

    <div class="container">

        <h2>Events</h2>

        <h3>
            The LINGUINDIC Project workshop:<br>
            'Understudied texts and authors from the Indian linguistic tradition'
        </h3>
        <p>
            A two-day workshop was held at Wolfson College, Oxford on the 27th - 28th June 2022. The workshop programme can be <a href="{% static 'documents/linguindic_workshop_2022-06-27.pdf' %}" target="_blank">downloaded here</a>.
        </p>

        <h3>AOS 2022</h3>
        <p>
            We presented two papers at the <a href="https://www.americanorientalsociety.org/annual-meeting/">232<sup>nd</sup> Meeting of the American Oriental Society</a>, 21<sup>st</sup> March 2022, Boston. See <a href="{% url 'about-outputs' %}">'Research Outputs'</a>.
        </p>

    </div>

{% endblock %}