{% extends "base.html" %}
{% load static %}

{% block main %}

    <div id="welcome-banner">
        <div id="welcome-banner-tagline">
            <strong>New ideas</strong> for modern linguistics
            <br>
            from <strong>Ancient India</strong>
        </div>
        <div id="welcome-banner-proceed">
            <i class="fas fa-angle-down"></i>
        </div>
    </div>

    <div id="welcome-content" class="container">
        <h2>Welcome</h2>
        <p>
            Welcome to the LINGUINDIC project website. LINGUINDIC is an EU-funded research project led by Dr John Lowe at the University of Oxford in the UK. It aims to systematically explore and analyse the neglected riches of ancient Indian linguistic thought. It will also uncover lost linguistic insights and analyses, as well as build on these insights to create innovative approaches to contemporary issues in modern Western linguistics. Overall, the project will focus on ancient Indian contributions to linguistic thought in three broad areas: morphosyntax and formal language systems, semantics/pragmatics and the philosophy of language, and phonetics/phonology.
        </p>
        <p>
            You can engage with the project through this website by:
        </p>
        <ul>
            <li>Reading detailed information about the <a href="{% url 'about-project' %}">project</a>, our <a href="{% url 'about-team' %}">team</a>, related <a href="{% url 'about-events' %}">events</a>, and more</li>
            <li>Browsing our database of <a href="{% url 'browse-linguisticnotions-list' %}">linguistic notions</a>, <a href="{% url 'browse-linguisticfields-list' %}">linguistic fields</a>, <a href="{% url 'browse-authors-list' %}">authors</a>, <a href="{% url 'browse-texts-list' %}">texts</a>, and <a href="{% url 'browse-references-list' %}">references</a></li>
            <li><a href="{% url 'compare-linguisticnotions' %}">Comparing</a> two linguistic notions from our database</li>
            <li><a href="{% url 'visualise' %}">Visualising our data</a>, to identify patterns and trends and thus gain a better understand database</li>
        </ul>
        <p>
            If you'd like to get in touch with us about the project or this website, you can email us at <a href="mailto:linguindic@orinst.ox.ac.uk?subject=LINGUINDIC website">linguindic@orinst.ox.ac.uk</a>
        </p>

        <h2>A Message from the PI</h2>
        <img class="image-circle" src="{% static 'images/about/team/john-lowe.jpg' %}" alt="John Lowe, the project Principal Investigator">
        <p>
            (TODO: Message from John)
        </p>
    </div>

    {% comment %} JavaScript/jQuery for this page {% endcomment %}
    <script>
        $(document).ready(function() {

            // Scroll down to main welcome section when clicking on the proceed button in the welcome banner
            $('#welcome-banner-proceed').on('click', function(){
                $('html,body').animate({ scrollTop: $('#welcome-content').offset().top - 50 }, 800); 
            });

        });
    </script>

{% endblock %}