@media (min-width: 992px) {

    /* ---------- Navigation ---------- */

    .nav-link {
        margin-left: 1.5em;
    }


    /* ---------- Welcome ---------- */

    #welcome-banner-tagline {
        width: 40em;
        margin-left: 5vw;
        background: none;
        padding: 0em;
    }

    /* ---------- About ---------- */

    .about-banner {
        height: 30em;
    }

    /* ---------- Browse ---------- */

    /* ---------- Browse: List ---------- */

    .list-content-item {
        margin: 1em;
        display: inline-block;
        width: calc(33% - 2em);
        min-height: 10em;
    }

    /* ---------- Browse: Detail ---------- */

    .browse-detail-dataitem-label {
        display: inline-block;
        width: 10em;
        vertical-align: top;
        margin: 0;
    }
    
    .browse-detail-dataitem-value {
        display: inline-block;
        width: calc(100% - 10.5em);
        vertical-align: top;
    }
    
    /* ---------- Footer ---------- */

    #footer-content img {
        height: 7em;
        margin: 0 4em 2em 4em;
        display: inline-block;
    }

}
