@media (min-width: 992px) {

    /* ---------- Navigation ---------- */

    .nav-link {
        margin-left: 2em;
    }


    /* ---------- Welcome ---------- */

    #welcome-banner-tagline {
        width: 40em;
        margin-left: 5vw;
        background: none;
        padding: 0em;
    }

    /* ---------- Project ---------- */

    .project-banner {
        height: 35em;
    }

    /* ---------- Browse ---------- */

    /* ---------- Browse: List ---------- */

    /* List content */
    .list-content-item {
        margin: 1em;
        display: inline-block;
        width: calc(33% - 2em);
        min-height: 10em;
    }
    
    /* ---------- Footer ---------- */

    #footer-content img {
        height: 7em;
        margin: 0 4em 2em 4em;
        display: inline-block;
    }

    
}
