@media (max-width: 991px) {
    /* ---------- General ---------- */


    /* ---------- Navigation ---------- */

    .nav-item {
        margin-top: 1em;
    }

    .nav-item:last-of-type {
        margin-bottom: 1em;
    }

    .navbar-toggler {
        color: #8d715f;
        font-size: 1.7em;
    }


    /* ---------- Welcome ---------- */

    #welcome-banner-tagline {
        width: 90%;
        margin-left: 5%;
        background: rgba(255,255,255,0.8);
        padding: 0.5em;
    }

    /* ---------- About ---------- */

    .about-banner {
        height: 13em;
    }



    /* ---------- Browse ---------- */

    /* ---------- Browse: List ---------- */

    .list-content-item {
        margin: 1em 0em;
        display: block;
        width: 100%;
    }

    /* ---------- Browse: Detail ---------- */

    .browse-detail-dataitem-label {
        display: block;
        margin: 0.2em 0 0.5em 0;
    }
    
    .browse-detail-dataitem-value {
        display: block;
    }
    
    /* ---------- Footer ---------- */

    #footer-content img {
        height: 6em;
        margin: 0 auto 2em auto;
        display: block;
    }
}
